######################
# Managed by BLACKBOX
######################

[Litecoin]

litecoin.active=1
litecoin.node={{.LND_LITECOIN_NODE}}
litecoin.testnet={{.LITECOIN_TESTNET}}
litecoin.regtest={{.LITECOIN_REGTEST}}

[Litecoind]

litecoind.rpchost={{.LITECOIN_RPCHOST}}
litecoind.rpcuser={{.LITECOIN_RPCUSER}}
litecoind.rpcpass={{.LITECOIN_RPCPASS}}
litecoind.zmqpubrawblock={{.LITECOIN_ZMQPUBRAWBLOCK}}
litecoind.zmqpubrawtx={{.LITECOIN_ZMQPUBRAWTX}}
