# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

arm64/downloads

.DS_Store
.idea
.vccode

id_rsa_blackbox
.env
