[Unit]
Description=Crypdex Chains daemon
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
# Docker currently runs as root
# User=crypdex
# Group=crypdex
Environment=DATA_DIR=/root/chaindata
# Environment=CONF_DIR=/home/crypdex/config
WorkingDirectory=/root/blackbox/docker

ExecStart=/usr/bin/make start
ExecStop=/usr/bin/make stop

# ExecReload=/usr/local/bin/docker-compose pull --quiet
# ExecReload=/usr/local/bin/docker-compose up -d
# Restart=on-failure

[Install]
WantedBy=multi-user.target
