[Unit]
Description=Crypdex Black Box
After=network-online.target
Requires=network-online.target

[Service]
Environment=DATA_DIR=/root/data
WorkingDirectory=/root/blackbox/arm64
ExecStart=/usr/bin/make start
ExecStop=/usr/bin/make stop

[Install]
WantedBy=multi-user.target