rpclisten={{or .DECRED_RPCLISTEN "0.0.0.0"}}
rpcconnect=dcrd
username={{require . "DECRED_RPCUSER"}}
password={{require . "DECRED_RPCPASS"}}
rpccert=/home/decred/.dcrwallet/dcrwallet.cert
rpckey=/home/decred/.dcrwallet/dcrwallet.key
cafile=/home/decred/.dcrd/dcrd.cert
pass={{or .DECRED_WALLET_PASSWORD ""}}

testnet={{or .DECRED_TESTNET 0}}
simnet={{or .DECRED_SIMNET 0}}

enablevoting={{or .DECRED_ENABLEVOTING 0}}

##############
# Ticket Buyer
##############

enableticketbuyer={{or .DECRED_ENABLETICKETBUYER 0}}
{{ if .DECRED_VOTINGADDRESS }}
ticketbuyer.votingaddress={{.DECRED_VOTINGADDRESS}}
{{ end }}
{{ if .DECRED_BALANCETOMAINTAINABSOLUTE }}
ticketbuyer.balancetomaintainabsolute={{.DECRED_BALANCETOMAINTAINABSOLUTE}}
{{ end }}
{{ if .DECRED_MAXPRICEABSOLUTE }}
ticketbuyer.maxpriceabsolute={{.DECRED_MAXPRICEABSOLUTE}}
{{ end }}

# VSP
{{ if .DECRED_POOLADDRESS }}
poolfees={{.DECRED_POOLADDRESS}}
{{ end }}
{{ if .DECRED_POOLFEES }}
poolfees={{.DECRED_POOLFEES}}
{{ end }}

