[Unit]
Description=BlocknetDX daemon
After=network-online.target
Requires=network-online.target

[Service]
Environment=CHAIN=blocknetdx
WorkingDirectory=/root/blackbox/arm64
ExecStart=/usr/bin/make start
ExecStop=/usr/bin/make stop

[Install]
WantedBy=multi-user.target