[Unit]
Description=PIVX daemon
After=network-online.target
Requires=network-online.target

[Service]
WorkingDirectory=/root/node/arm64
ExecStart=/usr/bin/make start-pivx
ExecStop=/usr/bin/make stop-pivx

[Install]
WantedBy=multi-user.target