[Unit]
Description=BlackBox Updater
After=network-online.target
Requires=network-online.target

[Service]
Environment=DATA_DIR=/root/data
WorkingDirectory=/root/blackbox
ExecStart=/root/blackbox/scripts/update.sh

#[Install]
#WantedBy=multi-user.target