[Unit]
Description=Run Blackbox update every minute

[Timer]
#OnCalendar=*:0,15,30,45
#OnCalendar=*:0,5,10,15,20,25,30,35,40,45,50,55
# Every 10 seconds
OnCalendar=*:*:0/10
Persistent=true

[Install]
WantedBy=timers.target