###################################################
# This config is generated and managed by Blackbox
###################################################

# https://en.bitcoin.it/wiki/Running_Bitcoin#Bitcoin.conf_Configuration_File
# All command-line options (except for -conf) may be specified in a configuration file, and all configuration file
# options may also be specified on the command line. Command-line options override values set in the configuration file.

# User defined
rpcuser={{.BITCOIN_RPCUSER}}
rpcpass={{.BITCOIN_RPCPASS}}

# Defaulted
testnet={{.BITCOIN_TESTNET}}
regtest={{.BITCOIN_REGTEST}}
rpcallowip={{.BITCOIN_RPCALLOWIP}}