[Unit]
Description=BlackboxOS
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/blackbox start

[Install]
WantedBy=multi-user.target