[Unit]
Description=BlackboxOS
After=docker.service
Requires=docker.service

[Service]
# Environment=DATA_DIR=/root/data
# WorkingDirectory=/root/blackbox
ExecStart=/usr/local/bin/blackbox start
ExecStop=/usr/local/bin/blackbox stop
RemainAfterExit=yes
# These params are ignored when RemainAfterExit=yes
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target